extends base

block content
  // Title Section
  section.title
    h1 Haunted Bids
    h2
      em The spookiest auction on the web!

  // About Us Section
  section.about-us
    .image-wrapper
      img(src='images/main.jpg' alt='A collection of retro horror game box art' height='600')
    .description
      p
        strong Haunted Bids 
        | is the best auction platform on the web for collectors and enthusiasts
        | of retro horror games. Step into the eerie world of retro gaming, where
        | spine-chilling classics await to terrify their next owner! Explore, bid,
        | and win your way to the scariest retro games ever made.
      br
      p
        | From rare, limited-edition titles to cult favorites, every auction is a
        | chance to own a piece of digital horror history. Whether you're a
        | seasoned collector or a first-time bidder, Haunted Bids offers a
        | haunted trove of games that will send shivers down your spine. We
        | specialize in auctioning horror games from the 
        em PlayStation 1 era, 
        | but we also have classics from:
      br
      ul.platform-list
        li 
          strong Super Nintendo
        li 
          strong PlayStation 2
        li 
          strong PlayStation 3
        li 
          strong Xbox 360
        li 
          em And More!
